@font-face {
	font-family: 'Lato Black';
	src: url('./assets/fonts/lato_black.eot'); /* IE 9 Compatibility Mode */
	src: url('./assets/fonts/lato_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./assets/fonts/lato_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('./assets/fonts/lato_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./assets/fonts/lato_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./assets/fonts/lato_black.svg#lato_black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Lato Medium';
	src: url('./assets/fonts/lato_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('./assets/fonts/lato_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./assets/fonts/lato_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('./assets/fonts/lato_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./assets/fonts/lato_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./assets/fonts/lato_medium.svg#lato_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');